.menu-drawer {
    width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0;
    z-index: 999999999999;
}

.menu-drawer__navigation-container {
    display: block;
}

.mb-drawer-header {
    max-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 6px 24px;
}

.mb-drawer-header .header__heading-link {
    line-height: 1;
    padding: 0;
}

.mb-drawer-navigation {
    padding: 24px;
}

.mb-first-menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.mb-first-menu-title {
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #000;
}

.mb-first-menu-title a {
    display: block;
    width: 100%;
}

.mb-first-menu-line {
    display: block !important;
    width: 100%;
    height: 1px;
    background-color: #E6E9EB;
    margin: 16px 0;
}

.mb-secondary-menu {
    display: none;
    margin-top: 20px;
}

.arrow-rotation {
    transform: rotate(180deg);
}


/* product */
.mb-secondary-menu .product-collection-lists {
    width: 100%;
    min-width: auto;
    max-width: 100%;
    justify-content: space-between;
    border: none;
    padding-right: 0;
}

.mb-secondary-menu .collection-item-link {
    width: 20%;
    justify-content: flex-start;
}

.mb-secondary-menu .collection-item-title {
    font-size: clamp(14px, 1.636vw, 18px);
    line-height: 1.2;
    color: #7E7E7E;
    text-align: center;
    margin-top: 10px;
}

/* product */





/* blog */
.mb-secondary-menu .blog-menu-lists {
    grid-template-columns: 1fr;
    gap: 8px;
}

.mb-secondary-menu .article-item {
    padding: clamp(8px, 1.091vw, 12px) 16px;
}

.mb-secondary-menu .article-item a {
    width: 100%;
}

.mb-secondary-menu .article-item-content {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mb-secondary-menu .article-item-title {
    width: 90%;
    font-size: clamp(14px, 1.636vw, 18px);
    -webkit-line-clamp: 2;
    line-height: 1.2;
    text-transform: capitalize;
    text-align: left;
}

/* blog */





/* contact us */
.mb-secondary-menu .contact-us-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.mb-secondary-menu .contact-us-item {
    max-width: 100%;
    box-shadow: none;
    padding: 0;
}

.mb-secondary-menu .contact-us-item img {
    width: clamp(56px, 7.273vw, 80px);
}

.mb-secondary-menu .contact-title {
    font-size: clamp(14px, 1.636vw, 18px);
    color: #7E7E7E;
    margin: 8px 0 0;
}

/* contact us */