.home-youtube-module {
  background-color: var(--Google_Black);
}

.wrapper-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.home-youtube-content {
  position: relative;
}

.home-youtube-content .home-youtube-cover-left {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  height: 100%;
  width: 200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.home-youtube-content .home-youtube-cover-right {
  position: absolute;
  top: 0;
  display: block;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 200px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.videocard-item {
  cursor: pointer;
}

.home-youtube-bg .youtube-box {
  border-radius: 6px;
}

.home-youtube-bg .swiper-wrapper .swiper-slide img {
  border-radius: 6px;
}

#trustpilot-widget-trustbox-0-wrapper {
  display: none !important;
}

.home-youtube-bg .swiper-wrapper {
  align-items: center;
  padding-bottom: 0;
}

.home-youtube-bg .youtube-box:hover .img__overlay:before {
  height: 100%;
}

@media (max-width: 768px) {
  .home-youtube-content .home-youtube-cover-left {
    width: 60px;
    background: linear-gradient(90deg,
        var(--Google_Black) 0%,
        rgba(42, 42, 42, 0) 100%);
  }

  .home-youtube-content .home-youtube-cover-right {
    width: 60px;
    background: linear-gradient(-90deg,
        var(--Google_Black) 0%,
        rgba(42, 42, 42, 0) 100%);
  }
}

/* popup */
.video-bg {
  background: #00000080;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;
}

.video-close-btn {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  padding: 12px;
  z-index: 20;
  text-align: right;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .video-close-btn {
    right: 0;
  }
}

.video-container {
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 20px 10px;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 700px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.video-content {
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  max-height: 600px;
}

.video-content .video-url {
  z-index: 10;
  display: none;
  max-width: 100%;
  width: 100%;
  height: 260px;
  height: 70vh;
}

.video-url.active {
  z-index: 12;
  display: block;
}

@media (min-width: 768px) {
  .video-content .video-url {
    width: 90%;
    height: 360px;
    height: 70vh;
  }

  .video-content .video-url {
    width: 640px;
    height: 360px;
  }
}

@media (min-width: 992px) {
  .video-content .video-url {
    max-width: 1200px;
    width: 80%;
    height: 540px;
    height: 70vh;
  }

  .video-content .video-url {
    width: 960px;
    height: 540px;
  }
}

.plyr__video-embed iframe {
  height: 200% !important;
  transform: translateY(-25%);
}

.home-youtube-bg .youtube-box .img__overlay .home-youtube-icon {
  display: none;
  fill: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
}

.home-youtube-bg .youtube-box:hover .img__overlay .home-youtube-icon {
  display: block;
}

.home-youtube-bg .youtube-box:hover .img__overlay:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 3;
}